<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PythonRio</title>
</head>
<body>
<div>
    <p>quantas guitarras azul ou amarelo?: {{ azul_amarelo }}</p>
    <p>quantas guitarras de 6 cordas?: {{ seis_cordas }}</p>
    <p>quantas guitarras PRS?: {{ prs }}</p>
    <p>quantas guitarras de Ada?: {{ ada }}</p>
    <p>quantas guitarras de Ada, PRS, 6 cordas, azul ou amarelo?: {{ todas_as_condicoes }}</p>
    <br /><br />
    <p>tempo: {{ tempo }}</p>

</div>
</body>
</html>